@import url("./app/components_css/text.css");
@import url("./app/components_css/labels.css");
@import url("./app/components_css/forms.css");


body {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: #d3fad6;
  padding-top: 60px;
}


.container{
  
  width: 800px;
  height: calc(100vh - 700px);
  /* height: 100vh; */
  padding: 24px;
  background-color: #5c9ead;
  border-radius: 10px;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  box-shadow: 0px 5px 15px rgba(0 ,0, 0, 0.1);


  /* border: solid 2px blue  */
}


@media screen and (max-width: 575px) {
  .container{
    width: 80vw;
    height:30vh;
    justify-content: space-evenly;
    position: relative
  }
  #modulo {
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 2;
    flex-basis: 16px;
  }
  
/* .spingi{ */
  /* position: absolute; */
  /* bottom: 8px; */
/* } */

  

  .radioBotto {
    /* margin-top: -16px; */
    padding-bottom: 12px;
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;
    /* align-content: flex-start; */
    font-size: 14px;
  }
  
  

  .immetti {
    flex-direction:column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 16px;
    flex-basis: 8px;
  }
  .immetti h4 {
    margin-bottom: 0px;
  }

  #map{
    width: 80vw;
    height: 60vh;
    position: absolute;
    bottom: -64vh
  }

}
