@import url("./app/components_css/text.css");
@import url("./app/components_css/labels.css");
@import url("./app/components_css/forms.css");


.container{
  width: 800px;
  height:20vh;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  border: 4px solid blue;
  justify-content: center;
  position: relative;
}


@media screen and (max-width: 575px) {
  .container{
    width: 350px;
    height:50vh;
    justify-content: space-around;
  
  }
  #modulo {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .immetti {
    flex-direction: column;
    justify-content: end;
  }
  #map{
    width: 350px;
  }


}
